In [19]:
import pandas as pd
import numpy as np
import datetime

In [2]:
clean_df = pd.read_csv("Data/clean_df.csv")

clean_df.head()

,Unnamed: 0,tripduration,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender,Trip Year,Trip Month
0,0,393,2019-08-01 00:00:01.4680,Forsyth St & Broome St,40.718939,-73.992663,Market St & Cherry St,40.710762,-73.994004,Subscriber,1996,Female,2019,August
1,1,627,2019-08-01 00:00:01.9290,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,Bergen St & Smith St,40.686744,-73.990632,Subscriber,1998,Female,2019,August
2,2,1132,2019-08-01 00:00:04.0480,Front St & Washington St,40.702551,-73.989402,President St & Henry St,40.682800,-73.999904,Subscriber,1988,Male,2019,August
3,3,1780,2019-08-01 00:00:04.1630,9 Ave & W 45 St,40.760193,-73.991255,Rivington St & Chrystie St,40.721101,-73.991925,Subscriber,1988,Male,2019,August
4,4,1517,2019-08-01 00:00:05.4580,1 Ave & E 94 St,40.781721,-73.945940,1 Ave & E 94 St,40.781721,-73.945940,Subscriber,1965,Female,2019,August

In [4]:
#calculate age of rider

clean_df["Rider Age"] = clean_df['Trip Year']-clean_df['birth year']

clean_df.head()

,Unnamed: 0,tripduration,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender,Trip Year,Trip Month,Rider Age
0,0,393,2019-08-01 00:00:01.4680,Forsyth St & Broome St,40.718939,-73.992663,Market St & Cherry St,40.710762,-73.994004,Subscriber,1996,Female,2019,August,23
1,1,627,2019-08-01 00:00:01.9290,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,Bergen St & Smith St,40.686744,-73.990632,Subscriber,1998,Female,2019,August,21
2,2,1132,2019-08-01 00:00:04.0480,Front St & Washington St,40.702551,-73.989402,President St & Henry St,40.682800,-73.999904,Subscriber,1988,Male,2019,August,31
3,3,1780,2019-08-01 00:00:04.1630,9 Ave & W 45 St,40.760193,-73.991255,Rivington St & Chrystie St,40.721101,-73.991925,Subscriber,1988,Male,2019,August,31
4,4,1517,2019-08-01 00:00:05.4580,1 Ave & E 94 St,40.781721,-73.945940,1 Ave & E 94 St,40.781721,-73.945940,Subscriber,1965,Female,2019,August,54

In [8]:
clean_df2 = clean_df.rename(columns = {"birth year": "Birth Year", "starttime": "Start Time", "usertype": "User Type", "gender": "Rider Gender",  "tripduration": "Trip Duration", "start station name": "Start Station", "start station latitude": "Start Latitude", "start station longitude": "Start Longitude", "end station name": "End Station", "end station latitude": "End Latitude", "end station longitude": "End Longitude"}, inplace = False)


clean_df2.head()

,Unnamed: 0,Trip Duration,Start Time,Start Station,Start Latitude,Start Longitude,End Station,End Latitude,End Longitude,User Type,Birth Year,Rider Gender,Trip Year,Trip Month,Rider Age
0,0,393,2019-08-01 00:00:01.4680,Forsyth St & Broome St,40.718939,-73.992663,Market St & Cherry St,40.710762,-73.994004,Subscriber,1996,Female,2019,August,23
1,1,627,2019-08-01 00:00:01.9290,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,Bergen St & Smith St,40.686744,-73.990632,Subscriber,1998,Female,2019,August,21
2,2,1132,2019-08-01 00:00:04.0480,Front St & Washington St,40.702551,-73.989402,President St & Henry St,40.682800,-73.999904,Subscriber,1988,Male,2019,August,31
3,3,1780,2019-08-01 00:00:04.1630,9 Ave & W 45 St,40.760193,-73.991255,Rivington St & Chrystie St,40.721101,-73.991925,Subscriber,1988,Male,2019,August,31
4,4,1517,2019-08-01 00:00:05.4580,1 Ave & E 94 St,40.781721,-73.945940,1 Ave & E 94 St,40.781721,-73.945940,Subscriber,1965,Female,2019,August,54

In [23]:
# clean_df2.drop(columns=['Unnamed: 0'], inplace=True)

clean_df3 = clean_df2[["Trip Year", "Trip Month", "Start Station", "Start Latitude", "Start Longitude", "End Station", "End Latitude", "End Longitude", "Trip Duration", "User Type", "Rider Gender", "Rider Age", "Birth Year", "Start Time"]]
clean_df3.head()

,Trip Year,Trip Month,Start Station,Start Latitude,Start Longitude,End Station,End Latitude,End Longitude,Trip Duration,User Type,Rider Gender,Rider Age,Birth Year,Start Time
0,2019,August,Forsyth St & Broome St,40.718939,-73.992663,Market St & Cherry St,40.710762,-73.994004,393,Subscriber,Female,23,1996,2019-08-01 00:00:01.4680
1,2019,August,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,Bergen St & Smith St,40.686744,-73.990632,627,Subscriber,Female,21,1998,2019-08-01 00:00:01.9290
2,2019,August,Front St & Washington St,40.702551,-73.989402,President St & Henry St,40.682800,-73.999904,1132,Subscriber,Male,31,1988,2019-08-01 00:00:04.0480
3,2019,August,9 Ave & W 45 St,40.760193,-73.991255,Rivington St & Chrystie St,40.721101,-73.991925,1780,Subscriber,Male,31,1988,2019-08-01 00:00:04.1630
4,2019,August,1 Ave & E 94 St,40.781721,-73.945940,1 Ave & E 94 St,40.781721,-73.945940,1517,Subscriber,Female,54,1965,2019-08-01 00:00:05.4580

In [32]:
clean_df3.to_csv(r'Data/clean_df3.csv')

In [30]:
# clean_df4 = clean_df3["Trip Duration"] = clean_df3["Trip Duration"].div(60)

# clean_df4.head()

In [31]:
#change time to hours/min/sec
# import datetime

# def convert(n):
#    return str(datetime.timedelta(seconds = (clean_df3.[Trip Duration]))
# # n = 1517

# print(convert(clean_df3.[Trip Duration]))